body{
    overflow-y: hidden !important;
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;  
    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
